/* Reset y estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.form-container {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-header {
    font-size: 1.5em;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 1.5em;
}

label {
    font-weight: 500;
    color: #666;
    margin-bottom: 0.5em;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #5a67d8;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 0.8em;
    background-color: #30517d;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: white;
    color: #000;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

.cancel-btn {
    width: 100%;
    padding: 0.8em;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: white;
    color: red;
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

.form-footer {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 1em;
}

 /* Estilos para el mensaje flotante */
 #mensajeFlotante {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}